.imagem {
    top: 25px;
    left: 22px;
    width: 883px;
    height: 374px;
    border: 1px solid #707070;
    opacity: 1;
}
.imagem__e{
    height: 100%;
    width: 100%;
    object-fit: fill ;

}

.titulo{
    top: 420px;
    left: 21px;
    width: 884px;
    height: 187px;

    text-align: left;
    font: normal normal 900 79px/69px Montserrat;
    letter-spacing: 0px;
    color: #FFB300;
    opacity: 1;

}

.autor{
    top: 617px;
    left: 21px;
    width: 884px;
    height: 28px;

    text-align: right;
    font: normal normal bold 21px/34px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.intro{
    top: 679px;
    left: 21px;
    width: 883px;
    height: 197px;
    text-align: left;
    color: #000000;
    font: normal normal 600 21px/34px Montserrat;
    letter-spacing: 0px;
    opacity: 1;

  
}

.preparo{
    top: 0px;
    left: 0px;
    width: 123px;
    height: 25px;
    text-align: left;
    font: normal normal 900 21px/25px Montserrat;
    letter-spacing: 0px;
    color: #000000;
}

.hora{
    top: 0px;
    left: 123px;
    width: 135px;
    height: 25px;
    text-align: left;
    font: normal normal medium 21px/25px Montserrat;
    letter-spacing: 0px;
    color: #000000;
}
h2{
    top: 1117px;
    left: 21px;
    width: 235px;
    height: 42px;
    text-align: left;
    font: normal normal 900 34px/42px Montserrat;
    letter-spacing: 0px;
    color: #FFB300;
    opacity: 1;
}
h3{
    top: 1117px;
    left: 21px;
    width: 235px;
    height: 42px;
    text-align: left;
    font: normal normal 900 30px/38px Montserrat;
    letter-spacing: 0px;
    color: #FFB300;
    opacity: 1;
}
li{
    text-align: left;
font: normal normal 600 21px/34px Montserrat;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}